.navbar{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;

    background-color: rgba($color: #fff, $alpha: .9);


    .navbar__ul{
        display: none;
        flex-direction: row;
        
        li {

            display: block;
        }
    }

    .navbar__img{
        position: absolute;
        top: 50%;
        margin-top: -26px;
        left: 50%;
        margin-left: -26px;
        width: 52px;
        height: 52px;
    }

    .burger {
        position: absolute;
        margin-left: 10%;
    }

}


@include respond-to('desktop'){
    
}
