@import "./Magnific-Popup.scss";
* { box-sizing: border-box; }
/* ---- grid ---- */
#works{

    .grid {
    background: none;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    }

    /* clearfix */
    .grid:after {
    content: '';
    display: block;
    clear: both;
    margin: auto;
    }

/* ---- grid-item ---- */

    .grid-sizer,
    .grid-item {
    width: 100%;
    margin-bottom: 15px;
    }

    @include respond-to('desktop'){
        .grid-sizer,
        .grid-item {
        width: 49%;
    }

    figcaption {
        opacity: 0;
        overflow: hidden;

        transition: .3s ease-in;

        .figcaption-content{

            transform: translateY(120%);
            transition: .3s ease-in;
        }
        
    }
    figcaption:hover .figcaption-content {
        transform: translateY(0%);
    }
    }
    

    .grid-item {
    float: left;
    height: 306px;
    position: relative;
    background-position: center;
    background-size: cover;

        figcaption {
            position: absolute;
            height: 100%;
            width: 100%;

            .figcaption-content {
                position: absolute;
                bottom: 10px;
                left: 10px;

                .featured {
                    display: block;

                    font-size: 12px;
                    font-weight: $extra-bold;
                    text-align: center;
                    line-height: 23px;

                    color: black;
                    background-color: $featured;

                    width: 80px;
                    border-radius: 25px;
                }

                p {
                    max-width: 60%;
                    color: #fff;
                    }
                }
        }

        figcaption:hover{
            opacity: 1;
            box-shadow: 0 0 15px #000;
        }

    }


    .grid-item--width2 { width:  40%; }
    .grid-item--width3 { width:  60%; }

    .grid-item--height2 { height: 404px; }
    .grid-item--height3 { height: 446px; }

    .modal{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background-color: rgba($color: grey, $alpha: .9);
    }

    .modal__content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .close-cursor {
        position: relative;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        margin: 0 auto;
        z-index: 7;
    }

    .modal-content__image{
        width: 100%;
        max-width: 100vw;
        height: 100%;

        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;

        margin: auto;
    }

    .modal-content__caption {
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
        text-transform: capitalize;
        text-shadow: 1px 1px #000;

        margin-bottom: 50px;
    }
    
}
